body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background: #f4f4f4;
    color: #333;
}

.container {
    width: 60%;
    margin: auto;
}

header {
    background: #333;
    color: #fff;
    padding-top: 30px;
    min-height: 70px;
    border-bottom: #0779e4 3px solid;
}

header h1 {
    text-align: center;
    text-transform: uppercase;
    margin: 0;
}

section {
    padding: 0px;
    background: #f4f4f4;
    margin: 0px 0;
}

a {
    color: #4485e1; /* This is a deep blue color, similar to the default blue of hyperlinks */
    text-decoration: none; /* Optional: removes the underline from links */
}

.hover {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}

.tooltip {
    visibility: hidden;
    width: 200px;
    background-color: rgb(234, 234, 234);
    color: #000000;
    text-align: left;
    border-radius: 6px;
    padding: 5px 10px;
    position: absolute;
    z-index: 1;
    text-align: justify;
    top: 100%;
    left: 50%;
    margin-left: -40px;
    opacity: 0;
    transition: opacity 0.5s;
    font-size: 14px;
}

.hover:hover .tooltip {
    visibility: visible;
    opacity: 1;
}


.hidden-section {
    display: none;
    padding: 0px;
    border: 0px solid #f4f4f4;
    margin-top: 20px;
    background-color: #f4f4f4;
}

button {
    padding: 5px 5px;
    position: absolute;
    cursor: pointer;
    background-color: #d4d4d4;
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 5px;
}

.publication {
    border-left: 5px solid #7e7e7e; /* Adjust color as needed */
    padding-left: 10px; /* Adds spacing between the border and text */
    padding-bottom: 0px;
    margin-bottom: 0px;
    text-align: justify; /* Justifying the text for better readability */
    line-height: 1.2; /* Adjusting the line height to make lines closer */
}

.publication p {
    margin-bottom: 2px; /* Space between paragraphs */
    line-height: 1.6; /* Adjusts the height of lines within paragraphs for readability */
}

.publication p:last-child {
    margin-bottom: 0; /* No extra space at the bottom of the last paragraph */
}

.publication p a {
    margin-right: 10px; /* Adds space on the right of each link */
}

.publication p a:last-child {
    margin-right: 0; /* Ensures the last link in any paragraph does not have extra space on the right */
}

.title {
    font-style: italic;
}

.red-text {
    color: #ff0800;
}